# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak
*.out

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing and coverage reports
.coverage
.tox/
.nox/
pytest_cache/
htmlcov/

# IDE / Editor files
.vscode/
.idea/
*.iml

# Machine Learning and Data Science
models/
outputs/
demonstrations/
rlfoundations.egg-info/
*.h5
*.ckpt
*.pkl
*.joblib
*.dat
*.npy
*.npz

# Docker / Deployment
docker-compose.override.yml

# System-specific
.DS_Store
Thumbs.db